# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/thermocam-pcb
/webserver/thermocam-webserver
/webserver/images/*

/build/
WIC_SDK-Linux_Ubuntu_16.04_64b-1.1.0.run
*.avi
/.ccls-cache/
/result/
/wic-sdk-1.2.1_Ubuntu16.06-x86_64_installer.run
